body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
  to bottom, 
  #00090D 0%, 
  #00101A 50%, 
  #00101A 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  background-color: black;
}

.NavDesktop {
  position: fixed;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 9, 13, 0.1) 0%,
    rgba(0, 16, 26, 0.1) 50%,
    rgba(0, 16, 26, 0.1) 100%
  );
  width: 100vw;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(40px);
  z-index: 1000;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

.logoLeft{
  padding-left: 20px;
}

.linksNavDesktop{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-left: 40px;
}

.login-signup{
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

:root {
  --Electric-Sunset: linear-gradient(314deg, #FF4F81 2.78%, #8A00E6 88.45%);
  --Ice-Blue: #CBE0EF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* inter-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/public/fonts/inter/inter-regular.woff2') format('woff2');
}

/* inter-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/public/fonts/inter/inter-700.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Clash-Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('/public/fonts/clash-grotesk/ClashGrotesk-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Clash-Grotesk';
  font-style: normal;
  font-weight: 500;
  src: url('/public/fonts/clash-grotesk/ClashGrotesk-Medium.woff2') format('woff2');
}

h1, h2, h3, h4, h5 {
  line-height: 1.1;
  font-family: 'Clash-Grotesk', sans-serif;
  margin: 0; 
  color: white;
}

h1 {
  font-size: 64px;
  font-weight: 500;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 32px;
}

p {
  font-family: "Inter";
  color: rgba(203, 224, 239, 0.75);
  line-height: 150%;
}

.blb {
  font-size: 20px;
  font-weight: 700;
}

.blr{
  font-size: 20px;
  font-weight: 400;
}

.bmb {
  font-size: 18px;
  font-weight: 700;
}

.bmr {
  font-size: 18px;
  font-weight: 400;
}

.bnb {
  font-size: 16px;
  font-weight: 700;
}

.bnr {
  font-size: 16px;
  font-weight: 400;
}

.stb {
  font-size: 14px;
  font-weight: 700;
}

.str {
  font-size: 14px;
  font-weight: 400;
}

.primaryButton {
  position: relative;
  display: inline-flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  border: 2px solid var(--Electric-Sunset);
  background-color: transparent;
  color: var(--Ice-Blue, #CBE0EF);
  font-feature-settings: 'dlig' on;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; 
  letter-spacing: -0.32px;

  transition: background-color 0.2s ease, transform 0.1s ease;
}

.primaryButton:hover {
  background-color: #ff50821d;
  transition: 0.2s;
  cursor: pointer;
}

.primaryButton::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 2px; /* border thickness */
  border-radius: 16px;
  background: var(--Electric-Sunset);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
}

.primaryButton:active::before {
  -webkit-mask: none;
  mask: none;
  padding: 0;
  border-radius: 16px;
  background: var(--Electric-Sunset);
  transition: 0.2s;
  transform: scale(0.97);
}

.primaryButton:disabled, .secondaryButton:disabled {
  border: #252A2D;
  color: #95A9B7;
}

.secondaryButton {
  position: relative;
  border-radius: 16px;
  border: 1px solid rgba(203, 224, 239, 0.16);
  display: inline-flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: transparent;

  color: white;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; 
  letter-spacing: -0.32px;
  }

.secondaryButton:active{
  -webkit-mask: none;
  mask: none;
  border-radius: 16px;
  background: rgba(203, 224, 239, 0.10);;
  transition: 0.2s;
  scale: 0.97;
  cursor: pointer;
}

.secondaryButton:disabled {
  border: #252A2D;
  color: #95A9B7;
}

.secondaryButton:hover {
  border: 1px solid #CBE0EF;;
  transition: 0.2s;
  cursor: pointer;
}

.TertiaryButton {
  background-image: linear-gradient(314deg, #FF4F81 2.78%, #8A00E6 88.45%);
  position: relative;
  border-radius: 16px;
  display: inline-flex;
  border: rgba(203, 224, 239, 0.16);
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; 
  letter-spacing: -0.32px;
  margin-top: 30px;
}

.TertiaryButton:hover {
  background-image: linear-gradient(134deg, #FF4F81 6.23%, #8A00E6 91.9%);
  cursor: pointer;
}

.TertiaryButton:active {
  background-image: linear-gradient(134deg, #FF4F81 6.23%, #8A00E6 91.9%);
  border: #D4D2FC;
}

.NavItem {
  color: #CBE0EFBF;
  transition: 0.3s ease, color 0.3s ease;
}

.NavItem:hover:not(:active) {
  background: linear-gradient(180deg, #9067FF 0%, #11B5E4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  background-clip: text;
  color: transparent;
}

.NavItem:active {
  color: white;
}

.contentBlock {
  background: radial-gradient(30% 30% at 50% 50%, rgba(138, 0, 230, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%);
  border-radius: 12px;
  color: white;
  align-items: center;
  flex-direction: row;
  background-color: transparent; 
  display: flex;
  justify-content: space-between;           
  text-align: center; 
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 840px;
}

.leftHeroAboveFold {
  width: 530px;
  text-align: left;
  padding-left: 100px;
  margin-top: -70px;
}

.rightHeroAboveFold {
  margin-top: 0px;
  width: 530px;
  padding-right: 100px;
}

.jumpButton {
  background: rgba(255, 255, 255, 0.05); 
  border: 1px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px); 
  border-radius: 50%;
  padding: 18px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  align-self: center;
  transition: background 0.3s ease, transform 0.2s ease;
  align-self: center;
  position: absolute;
  left: 50%;
  top: 800px;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.Emphasis {
  color: var(--Ice-Blue);
  border-radius: 8px;
  background-color: rgba(203, 224, 239, 0.10);
  padding: 5px 10px;
  display: inline-block;
  border: 1px solid rgba(203, 224, 239, 0.15);
}

.jumpButton:hover {
  transform: translate(-50%, calc(-50% + 4px)); 
  background-color: rgba(128, 125, 125, 0.05); 
}

.jumpButton span {
  display: none; 
}

.VideoDesktopHome {
  align-items: left;
  flex-direction: column;
  background-color: transparent; 
  justify-content: space-between;           
  text-align: left; 
  position: absolute;
  overflow: hidden;
  top: 840px;
  width: calc(100vw - 200px);
  left: 0;
  height: 840px;
  padding-left: 100px;
  padding-top: 200px;
  padding-bottom: 100px;
}

.videoArea {
  margin-top: 30px;
  border-radius: 24px;
  overflow: hidden; 
  border: 1px solid #2F3438;
  box-shadow: 0 4px 64px 0 rgba(33, 193, 243, 0.10);
  width: fit-content; 
  width: calc(100vw - 300px);
}

.BenefitsDesktop {
  display: flex;
  align-items: left;
  flex-direction: row;
  background-color: transparent; 
  justify-content: space-between;           
  text-align: left; 
  position: absolute;
  overflow: hidden;
  top: 1840px;
  width: 100vw;
  left: 0;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 100px;
}

.BenefitsLeft {
  width: 530px;
  padding-left: 100px;
}

.ButtonHolderLeft {
  display: flex;
  gap: 8px;
  margin-top: 30px;
}

.BenefitsRight {
  padding-right: 15%;
  gap: 16px;
  width: 530px;
  display: flex;
  align-items: left;
  flex-direction: row;
  background-color: transparent; 
  justify-content: center;  
}

.ColumnBenefit{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.benefitTile {
  height: 250px;
  width: 250px; 
  background: transparent;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  border: 1px solid #212F39;
  gap: 10px;
  padding-bottom: 40px;
  padding-top: 20px;
  cursor: pointer;
  font-family: "Inter";
  font-size: 20px;
  line-height: 150%;
  transition: 0.3s ease, color 0.3s ease;
}

.benefitTile:hover{
 transform: scale(1.03);
}

.activeTile {
  font-style: normal;
  font-weight: 700;
  background-image: linear-gradient(314deg, #FF4F81 2.78%, #8A00E6 88.45%);
  color: var(--Ice-Blue);
}

.inactiveTile {
  font-weight: 400;
  color: rgba(203, 224, 239, 0.75);
}

.comparisonDesktop {
  position: absolute;
  top: 2700px;
  left: 0;
  width: 100vw;
  height: 900px;
  background-color: transparent;
  align-content: center;
  align-items: center;
}

.comparisonDesktopBackground {
  width: calc(100vw - 30px);
  height: 880px;
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.10);
  border-radius: 24px;
  margin-left: auto;
  margin-right: auto;
}

.holdContent {
  padding-top: 60px;
  padding-left: 90px;
  max-width: 80vw;
}

.aquaBlue{
  color: #CBE0EF;
}